
<!--<div class="parent-container" style="background-color: slategray; width: 60%; margin-left: 20%">-->
<!--  <div class="block-header bg-primary">-->
<!--    <h3 class="block-title" style="background-color: steelblue; text-decoration: white; text-align: center">Registration</h3>-->
<!--  </div>-->
<!--              <div class="form-group" style="padding-left: 30%">-->
<!--                <div class="form-material form-material-primary floating">-->
<!--                  <div class="form-group col-lg-6 col-lg-offset-3 input-group"  style="margin: 2%">-->
<!--                    Username : <input [(ngModel)]="user.email" type="text" class="form-control" placeholder="username">-->
<!--                    <br>-->
<!--                  </div>-->
<!--                  <div class="form-material form-material-primary floating">-->
<!--                    <div class="form-group col-lg-6 col-lg-offset-3 input-group"  style="margin: 2%">-->
<!--                      Password : <input [(ngModel)]="user.password" type="text" class="form-control" placeholder="password" type="password">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="form-material form-material-primary floating">-->
<!--                    <div class="form-group col-lg-6 col-lg-offset-3 input-group" style="margin: 2%">-->
<!--                      Confirm Password : <input [(ngModel)]="user.password2" type="text" class="form-control" placeholder="password" type="password">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="form-group" style=" padding-left: 20px;">-->
<!--                  <button type="button" class="btn btn-block btn-primary" style="-->

<!--  background-color: steelblue;-->
<!--  border: none;-->
<!--  color: white;-->
<!--  padding: 10px 16px;-->
<!--  text-align: center;-->
<!--  text-decoration: none;-->
<!--  display: inline-block;-->
<!--  font-size: 16px;-->
<!--  margin: 4px 2px;-->
<!--  cursor: pointer;-->
<!--  border-radius: 12px;-->
<!--" (click)="register(user);">Sign up</button>-->
<!--                  <br>-->
<!--                </div>-->
<!--              </div>-->
<!--</div>-->


<div class="bg-image img-rounded overflow-hidden push" style="margin-top: 3%">
  <div class="bg-black-op">
    <div class="content">
      <div class="block block-transparent block-themed text-center">
        <div class="block-content">
          <h1 class="h1 font-w700 text-white animated fadeInDown push-5">Sign up</h1>
        </div>
      </div>
    </div>
  </div>
</div>


<div style="margin-top: 3%">

  <form class="login-form">

    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input input [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input input [(ngModel)]="user.password2" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>

    <button class="btn btn-primary" (click)="login(user);">Register</button>
  </form>

</div>






